#main-logo {
    position: fixed;
    top: 0px;
    right: 0px;
}

#page-top {
    position: fixed;
    bottom: -20px;
    right: 10px;
}
#page-top a {
    display: block;
	opacity: 0.6;
}
#page-top a:hover {
    text-decoration: none;
	opacity: 0.6;
}

